* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Courier New, Courier, Monaco;
	background-color: #F7F7F7;
}

$contentWidth: 780px;

#content {
	width: $contentWidth;
	margin: 30px auto;

	padding: 50px;
	background-color: #FFF;
}

// Only visible on print media
#header {
	width:	100%;
	margin-left: 60px;

	.show {
		text-transform: uppercase;
		font-weight: bold;
	}

	.date ~ .note {
		margin-left: -40px;
	}

	div {
		margin: 0 40px;
		display: inline-block;
	}
}

// Hide the header unless printing
@media screen {
	#header, #footer {
		display: none;
	}
}

@media print {
	#header {
		position: fixed;
		top: 0;
	}
	@page {
		margin-top: 30px;
		counter-increment: page;
		counter-reset: page 1;
		@top-right {
			content: counter(page);
		}
	}
}

.title {
	text-align: center;
	margin: 300px 0;
}

.author {
	margin-top: 60px;
}

.scene-head {
	margin: 1em 0;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 5px;
}

.scene-end {
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
}

.scene-end:not(:last-child) {
	margin-bottom: 300px;
}

.loc-head {
	margin: 1em 0;
	text-transform: uppercase;
	text-decoration: underline;
}

.name {
	margin-bottom: 0;
	text-transform: uppercase;
	text-align: center;
}

// Center the two
.dialog, .parenthetical {
	margin: 0 auto;
}

.dialog {
	width: 320px;
	margin-bottom: 1em;
}

.parenthetical {
	box-sizing: border-box;
	width: 320px;
	padding-left: 55px;
}

.action {
	margin: 1em 0;
}
