body {
	font-family: Courier New, Courier, Monaco;
	background-color: #F7F7F7;
	margin: 0;
}

#content {

	width: 680px;
	margin: 30px 0 30px 100px;

	padding: 50px;
	background-color: #FFF;
	/*border-bottom: 5px solid #000;
	border-top: 5px solid #000;*/
}

#header {
	width:	100%;
	margin-left: 60px;

	.show {
		text-transform: uppercase;
		font-weight: bold;
	}

	.date ~ .note {
		margin-left: -40px;
	}

	div {
		margin: 0 40px;
		display: inline-block;
	}
}

@media screen {
    #header, #footer {
        display: none;
    }
}

@media print {
	#header {
		position: fixed;
		top: 0;
	}
	@page {
		margin-top: 30px;
	    counter-increment: page;
	    counter-reset: page 1;
	    @top-right {
	        content: counter(page);
	    }
	}
}

.title {
	text-align: center;
	margin: 300px 0;
}

.episode:before, .episode:after {
	content: "\"";
}

.author {
	margin-top: 60px;
}

.author:before {
	content: 'written by';
	display: block;
}

.scene-head {
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 5px;
}

.scene-end {
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
}

.scene-end:not(:last-child) {
	margin-bottom: 300px;
}

.scene-end:before {
	content: "End ";
}

.loc-head {
	text-transform: uppercase;
	text-decoration: underline;
}

.name {
	margin-bottom: 0;
	text-transform: uppercase;
	text-align: center;
}

.dialog {
	width: 320px;
	margin: 0 auto;
}

.dialog, .parenthetical {
	margin: 0 auto;
}

.parenthetical {
	box-sizing: border-box;
	width: 320px;
	padding-left: 55px;
}

.parenthetical:before {
	content: '(';
}

.parenthetical:after {
	content: ')'
}
